@model InventorySystem.Core.Models.Product
@{
    Layout = "_Layout";
}
<h2>Add Product</h2>

<form asp-action="Create">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>SKU</label>
            <input asp-for="SKU" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Category</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="form-control"></select>
        </div>
        <div class="col-md-3 mb-3">
            <label>Cost Price</label>
            <input asp-for="CostPrice" class="form-control" />
        </div>
        <div class="col-md-3 mb-3">
            <label>Sale Price</label>
            <input asp-for="SalePrice" class="form-control" />
        </div>
    </div>
    <button class="btn btn-success">Save</button>
</form>
